.footer {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    font-size: 10px;

    .caja__footer {
        display: flex;
        width: 90px;
        justify-content: space-evenly;
        margin: auto;
        margin-bottom: 0;
        text-align: center;
        text-decoration: none;

        li {
            a {
                font-weight: 300px;
                text-decoration: none;
                margin-right: 10px;
                font-family: 'Play', sans-serif;
            }


        }
    }

}