header {
    width: 100%;
    height: 250px;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: cover;
    position: relative;
    background-image: url(../imagenes/baner1.jpg );
    background-position: 50%;
    /* font-family: 'Play', sans-serif; */



    .menu {
        text-align: right;
        padding: 240px 10px 0 0;
        display: flex;
        justify-content: flex-end;
        position: relative;
        bottom: 30px;
        text-decoration: none;
        list-style: none;
        /* font-family: 'Play', sans-serif; */

    }

    li {
        a {
            color: rgb(255, 250, 250);
            font-size: 22px;
            text-decoration: none;
            margin-right: 50px;

            /* font-family: 'Play', sans-serif;    */
            &:hover {
                text-decoration: underline;
            }
        }
    }


}